body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* header {
    text-align: center;
    padding: 50px 0;
    position: relative;
}
header img.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
header h1 {
    margin: 0;
    font-size: 3em;
    color: #ff69b4;
}
header p {
    font-size: 1.2em;
    color: #aaaaaa;
} */
nav {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 8px;
}

nav .nav-links {
    display: flex;
}

nav #Logo {
    color: #ff007a;
}

nav #Logo:hover {
    background-color: #1f1f1f;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ff007a;
    border-radius: 5px;
}
.nav_options.active{
    background-color: #e60073;
    border-radius: 5px;
}

nav .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
    font-size: xx-large;
    margin-bottom: 10px;
    /* width: 50px;
    height: 3px; */
    /* background-color: #ffffff; */
    /* margin: 4px; */
    transition: all 0.3s;
}
nav .hamburger:hover{
    color: #e60073;
}
/* .hamburger.active{
    color: #e60073;
} */

/* nav .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px;
    transition: all 0.3s;
} */




@media (max-width: 768px) {
    nav .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav .nav-links.active {
        display: flex;
        align-items: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

    nav .hamburger {
        display: flex;
    }
}


section {
    margin-bottom: 50px;
}


section>h1 {
    /* border-bottom: 2px solid #444444; */
    padding-bottom: 10px;
    text-align: center;
}

.section{

}

.social-links a {
    color: #ed559e;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff007a;
}

footer {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #444444;
    color: #aaaaaa;
}

.contact-details {
    margin-top: 20px;
}

.resume-section {
    text-align: center;
    margin-top: 30px;
}

.resume-section a {
    color: #000000;
    background-color: #ff007a;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    letter-spacing: 1pt;
    transition: background-color 0.3s;
}

.resume-section a:hover {
    background-color: #e60073;
}

.social-links {
    display: flex;
    
}

.skills-list li {
    list-style: none;
    background-color: #333333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.skills-list li:hover {
    transform: scale(1.05);
    background-color: #444444;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.project-card {
    background-color: #444444;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    flex: 1;
    max-width: 300px;
}

.project-card h3 {
    color: #f22b8b;
}

.project-card:hover {
    transform: scale(1.1);
    background-color: #444444;
}

#home {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 34px ;
    margin-top: 15px;
}

.home-text {
    flex: 1;
    padding-right: 35px;
    padding-left: 35px;
}

.home-text span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1pt;
}
.home-text h3{
    
    letter-spacing: 1pt;
}
.home .description {
    text-align: justify;
}

.home-profile {
    flex: 0 0 200px;
    justify-content: center;
    align-items: center;
}

/* 
.home-profile img {
    padding-top: 80px;
    padding-right: 20px;
    width: 280px;
    height: 300px;
    border-radius: 50%;

} */
#about>div {
    background-color: #000000;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
}

#skills>div {
    background-color: #000000;
    padding: 30px;
    border-radius: 5px;
    /* text-align: center; */
}
.skills-list li span{
color: #e60073;
}

#projects>div {
    background-color: #000000;
    padding: 40px;
    border-radius: 5px;
}

#resume>div {
    background-color: #000000;
    padding: 30px;
    border-radius: 5px;
}

.action__btns {
    display: flex;
    gap: 5px;
    margin-top: 40px;
}

.action__btns button {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #ff007a;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire__me {
    background-color: #ff007a;
    color: #ffffff;
}

.hire__me a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hire__me:hover {
    background-color: whitesmoke;
    color: #333;
}

.resume {
    background-color: whitesmoke;
}

.resume a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.resume:hover {
    background-color: #ff007a;
    color: #333;
}

/* 

.content {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
} */

/* .form-controls label {
    display: block;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.form-controls input[type="text"],
.form-controls textarea {
    outline: none;
    width: 93%;
    display: block;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-controls input[type="button"] {
    margin-top: 6px;
    background-color: #ff007a;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.form-controls input[type="button"]:active {
    background-color: #ff57a8;
} */

/* #contact {
    display: flex;
    width: 800px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */

#contact>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
    background-color: #000000;
    border-radius: 5px;
}

.contact-info {
    padding: 40px;
    background-color: #333;
    width: 380px;
    border-radius: 10px;
    /* height: 280px; */
}

.contact-info .intro-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff007a;
}

.contact-info .description {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info .info-item .icon {
    margin-right: 10px;
}

.contact-info .social-icons {
    display: flex;
    margin-top: 20px;
}

.contact-info .social-icons img {
    width: 19px;
    height: 19px;
    filter: invert();
}

.contact-info .social-icons .icon {
    margin-right: 10px;
    cursor: pointer;
}

/* .contact-form-container {
    padding: 40px;
    background-color: #222;
    width: 530px;
    border-radius: 10px;


}

.contact-form-container .title {
    font-size: 25px;
    margin-bottom: 30px;
}

.contact-form-container .title span {
    color: #e60073;
}

.contact-form-container .contact-form {
    display: flex;
    flex-direction: column;

}

.contact-form-container .contact-form input,
.contact-form-container .contact-form textarea {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}


.contact-form-container .contact-form textarea {
    resize: none;
    height: 120px;
}

.contact-form-container .contact-form button {
    background-color: #ff007a;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form-container .contact-form button:hover {
    background-color: #f22b8b;
} */
.contact-form-container {
    padding: 40px;
    background-color: #222;
    width: 500px;
    border-radius: 10px;
}

.contact-form-container .title {
    font-size: 25px;
    margin-bottom: 30px;
}

.contact-form-container .title span {
    color: #e60073;
}

.contact-form-container .contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-container .contact-form .input-row {
    display: flex;
    gap: 10px;

}
.contact-form-container .contact-form input[name="name"],
.contact-form-container .contact-form input[type="email"]
{
    width: 48%;
   
}

.contact-form-container .contact-form input,
.contact-form-container .contact-form textarea {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
    /* Makes the inputs take equal space */
}

.contact-form-container .contact-form textarea {
    resize: none;
    height: 120px;
}

.contact-form-container .contact-form button {
    background-color: #ff007a;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form-container .contact-form button:hover {
    background-color: #f22b8b;
}
/* .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.contact-form-container {
    max-width: 500px;
    margin: 0 auto;
} */
